{
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "jsx-a11y/img-redundant-alt": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
